/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Chakra Petch", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(1, 13, 43) 79%);
}

.logo {
  width: 50px;
}

/* Header */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}
.navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.menu__link {
  color: rgb(255, 255, 255);
}
.menu__link:hover {
  color: #00ff9d;
}

.act {
  text-shadow: 1px 1px 20px #00fcf5;
  color: #00f7ff;
}

/* MAIN: index.html*/
.main {
  margin-top: 8%;
}

.main__minititle {
  text-shadow: 1px 1px 20px #00fcf5;
  color: #00f7ff;
  margin: 5%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .main__minititle {
    font-size: 20px;
  }
}

/* FAQ */
.accordion-button {
  text-align: center;
}
.accordion-button:not(.collapsed) {
  color: #00f7ff;
}
.accordion-button:focus {
  box-shadow: none;
}

.faq-text {
  color: white;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .faq-text {
    font-size: 15px;
  }
}

.contenedor-acordeon-grande {
  display: flex;
  justify-content: center;
}

.contenedor-acordeon {
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.faq-link {
  color: #00f7ff;
}
.faq-link:hover {
  color: #00f7ff;
}

.lista-faq {
  display: flex;
  margin: 2%;
  color: #00f7ff;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  .lista-faq {
    display: flex;
    flex-direction: column;
  }
}

.lista-faq-item {
  margin: 2%;
  font-weight: 400;
}

.contenedor-img {
  width: 50%;
}

/* Products */
.contenedor {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 480px) {
  .contenedor {
    justify-content: space-around;
  }
}

.card {
  margin: 2%;
}
.card:hover {
  transition: 0.5s ease-in-out;
  background: transparent;
  box-shadow: 0 0 1em #00f7ff;
}
@media screen and (max-width: 480px) {
  .card {
    width: 33%;
  }
}

.card-title {
  text-align: center;
}

.list-group-item, .card-title {
  color: white;
  font-size: larger;
}
@media screen and (max-width: 480px) {
  .list-group-item, .card-title {
    font-size: 10px;
  }
}
@media only screen and (min-width: 469px) and (max-width: 960px) {
  .list-group-item, .card-title {
    font-size: 15px;
  }
}

.btn-guantes, .btn-subfusiles, .btn-agentes, .btn-cuchillos, .btn-pistolas, .btn-rifles, .btn-index {
  margin: 5% 1.3%;
  width: 180px;
  height: 60px;
  cursor: crosshair;
  background: transparent;
  border: 1px solid #a0dddb;
  outline: none;
  transition: 0.7s ease-in-out;
}
@media only screen and (min-width: 469px) and (max-width: 960px) {
  .btn-guantes, .btn-subfusiles, .btn-agentes, .btn-cuchillos, .btn-pistolas, .btn-rifles, .btn-index {
    margin: 4.3%;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .btn-guantes, .btn-subfusiles, .btn-agentes, .btn-cuchillos, .btn-pistolas, .btn-rifles, .btn-index {
    margin: 6%;
    width: 200px;
  }
}
@media screen and (min-width: 1480px) and (max-width: 2560px) {
  .btn-guantes, .btn-subfusiles, .btn-agentes, .btn-cuchillos, .btn-pistolas, .btn-rifles, .btn-index {
    margin: 0.3%;
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .div-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* BOTONES */
.btn-index:hover {
  transition: 0.8s ease-in-out;
  background: #9900ff;
  box-shadow: 0 0 1.5em #9900ff;
}

.btn-rifles:hover {
  transition: 0.8s ease-in-out;
  background: #ff0000;
  box-shadow: 0 0 1.5em #ff0000;
}

.btn-pistolas:hover {
  transition: 0.8s ease-in-out;
  background: #00f7ff;
  box-shadow: 0 0 1.5em #00f7ff;
}

.btn-cuchillos:hover {
  transition: 0.8s ease-in-out;
  background: #003cff;
  box-shadow: 0 0 1.5em #003cff;
}

.btn-agentes:hover {
  transition: 0.8s ease-in-out;
  background: #ff0062;
  box-shadow: 0 0 1.5em #ff0062;
}

.btn-subfusiles:hover {
  transition: 0.8s ease-in-out;
  background: #ffa600;
  box-shadow: 0 0 1.5em #ffa600;
}

.btn-guantes:hover {
  transition: 0.8s ease-in-out;
  background: #524939;
  box-shadow: 0 0 1.5em #524939;
}

/* Footer */
.footer__whatsapp {
  position: fixed;
  width: 70px;
  bottom: 30px;
  right: 10px;
}

footer {
  margin-top: 5%;
}
footer a {
  margin: 3%;
}

/* Promociones (index.html) */
.contenedor-seccion-promociones {
  margin-top: 10%;
}
.contenedor-seccion-promociones .contenedor-promocion-abajo {
  position: absolute;
}
.contenedor-seccion-promociones .card-promocion {
  border: 2px #00f7ff solid;
  box-shadow: 0 0 1em #00f7ff;
}
@media screen and (max-width: 480px) {
  .contenedor-seccion-promociones .cardprom-2 {
    display: none;
  }
}
@media only screen and (min-width: 469px) and (max-width: 960px) {
  .contenedor-seccion-promociones .cardprom-3 {
    display: none;
  }
}

.card-promocion-item {
  border-top: 2px #00f7ff solid;
  border-bottom: 2px #00f7ff solid;
}

.card-promocion-title {
  border-top: 2px #00f7ff solid;
}

.contenedor-promocion {
  position: relative;
  width: 65%;
  height: 430px;
  border-radius: 20px;
  z-index: 1;
  transition: 0.5s;
}
.contenedor-promocion:hover {
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
@media screen and (max-width: 348px) {
  .contenedor-promocion {
    width: 100%;
    height: 350px;
    margin-bottom: 4%;
  }
}
@media screen and (max-width: 480px) {
  .contenedor-promocion {
    width: 80%;
    height: 350px;
    margin-bottom: 4%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .contenedor-promocion {
    width: 80%;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .contenedor-promocion {
    width: 90%;
  }
}

/* conocenos.html */
.div-conocenos img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .div-conocenos img {
    width: 80%;
    margin: 5%;
  }
}
@media only screen and (min-width: 469px) and (max-width: 960px) {
  .div-conocenos img {
    width: 80%;
  }
}
.div-conocenos a {
  display: flex;
  justify-content: center;
}

/* Section Venta */
.contenedor-venta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-top: 10%;
  text-align: justify;
  border: 2px #00f7ff solid;
}
.contenedor-venta .venta-text {
  font-size: 20px;
  color: #00f7ff;
}
@media screen and (max-width: 480px) {
  .contenedor-venta .venta-text {
    font-size: 15px;
  }
}
.contenedor-venta .imagen-venta {
  margin: 5%;
  display: flex;
  justify-content: center;
}
.contenedor-venta .imagen-venta img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .contenedor-venta .imagen-venta img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
