/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Chakra Petch", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(1, 13, 43) 79%);
}

.logo {
  width: 50px;
}

/* Header */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}
.navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.menu__link {
  color: rgb(255, 255, 255);
}
.menu__link:hover {
  color: #00ff9d;
}

.act {
  text-shadow: 1px 1px 20px #00fcf5;
  color: #00fcf5;
}

/* MAIN: index.html*/
.main {
  margin-top: 8%;
}

.main__minititle {
  text-shadow: 1px 1px 20px #00fcf5;
  color: #00fcf5;
  margin: 5%;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin: 2%;
}
.card:hover {
  box-shadow: 0 0 1em #00fcf5;
  transition: 0.5s ease-in-out;
}

.card-title {
  text-align: center;
}

.list-group-item, .card-title {
  color: white;
}

/* FAQ */
.accordion-button {
  text-align: center;
}
.accordion-button:not(.collapsed) {
  color: #00f7ff;
}
.accordion-button:focus {
  box-shadow: none;
}

.faq-text {
  color: white;
  text-align: center;
}

.contenedor-acordeon-grande {
  display: flex;
  justify-content: center;
}

.contenedor-acordeon {
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.faq-link {
  color: #00f7ff;
}
.faq-link:hover {
  color: #00f7ff;
}

.lista-faq {
  display: flex;
  margin: 2%;
  color: #00f7ff;
  list-style-type: none;
}

.lista-faq-item {
  margin: 2%;
  font-weight: 400;
}

.contenedor-img {
  width: 50%;
}

.btn-guantes, .btn-subfusiles, .btn-agentes, .btn-cuchillos, .btn-pistolas, .btn-rifles, .btn-index {
  margin: 5% 1.5%;
  width: 180px;
  height: 60px;
  cursor: crosshair;
  background: transparent;
  border: 1px solid #a0dddb;
  outline: none;
  transition: 0.7s ease-in-out;
}

/* BOTONES */
.btn-index:hover {
  transition: 0.8s ease-in-out;
  background: #9900ff;
  box-shadow: 0 0 1.5em #9900ff;
}

.btn-rifles:hover {
  transition: 0.8s ease-in-out;
  background: #ff0000;
  box-shadow: 0 0 1.5em #ff0000;
}

.btn-pistolas:hover {
  transition: 0.8s ease-in-out;
  background: #00f7ff;
  box-shadow: 0 0 1.5em #00f7ff;
}

.btn-cuchillos:hover {
  transition: 0.8s ease-in-out;
  background: #003cff;
  box-shadow: 0 0 1.5em #003cff;
}

.btn-agentes:hover {
  transition: 0.8s ease-in-out;
  background: #ff0062;
  box-shadow: 0 0 1.5em #ff0062;
}

.btn-subfusiles:hover {
  transition: 0.8s ease-in-out;
  background: #ffa600;
  box-shadow: 0 0 1.5em #ffa600;
}

.btn-guantes:hover {
  transition: 0.8s ease-in-out;
  background: #524939;
  box-shadow: 0 0 1.5em #524939;
}

/* Footer */
.footer__whatsapp {
  position: fixed;
  width: 70px;
  bottom: 30px;
  right: 10px;
}

footer {
  margin-top: 5%;
}
footer a {
  margin: 3%;
}

.btn-index, .btn-rifles, .btn-pistolas, .btn-cuchillos, .btn-agentes, .btn-subfusiles, .btn-guantes {
  margin: 5% 1.5%;
  width: 180px;
  height: 60px;
  cursor: crosshair;
  background: transparent;
  border: 1px solid #a0dddb;
  outline: none;
  transition: 0.7s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
