/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Chakra Petch', sans-serif;

}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,13,43,1) 79%);
}

.logo {
    width: 50px;
}

/* HOLA */
@import "components/header";
@import "components/main";
@import "components/faq";
@import "../scss/components/productos";
@import "../scss/base/buttons";
@import "../scss/components/footer";
@import "../scss/components/promocion";
@import "../scss/components/conocenos";
@import "../scss/components/venta";