
/* Footer */

.footer__whatsapp {
    position: fixed;
    width: 70px;
    bottom: 30px;
    right: 10px;
}

footer {
    background: rgb(4,4,4);
    background: linear-gradient(80deg, rgba(4,4,4,1) 0%, rgba(16,16,18,1) 91%);
    
    a {
        margin: 3%;
    }
}
