@import "../base/variables";

/* Header */
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav {
    background: rgb(4,4,4);
    background: linear-gradient(80deg, rgba(4,4,4,1) 0%, rgba(16,16,18,1) 91%);
}
.navbar-brand{
    color: rgb(255, 255, 255);
    &:hover {
        color: rgb(255, 255, 255);
    }
}


.menu__link {
    color: rgb(255, 255, 255);
    &:hover {
        color: $second-color;
    }
}

.act {
    text-shadow: 1px 1px 20px #00fcf5;
    color: $main-color;
}