@import "../base/variables";

/* MAIN: index.html*/
.main {
    margin-top: 8%;
}

.main__minititle {
    text-shadow: $main-shadow;
    color: $main-color;
    margin: 5%;
    text-align: center;
    @media screen and (max-width: 480px) {
        font-size: 20px;
    }
}