@import "../base/variables";
@import "../base/mixins";

/* Promociones (index.html) */
.contenedor-seccion-promociones {
    margin-top: 10%;

    .contenedor-promocion-abajo {
        position: absolute;
      }
    .card-promocion {
        border: $border-promociones;
        box-shadow: 0 0 1em $main-color;
        
    }
    .cardprom-2 {
        @media screen and (max-width: 480px){
            display: none;
        }
    }
    .cardprom-3 {
        @media only screen and (min-width: 469px) and (max-width: 960px) {
            display: none;
        }
        
    }
}

.card-promocion-item {
    border-top: $border-promociones;
    border-bottom: $border-promociones;
}
.card-promocion-title {
    border-top: $border-promociones;
}

.contenedor-promocion {
    position: relative;
    width: 65%;
    height: 430px;
    border-radius: 20px;
    z-index: 1;
    transition: 0.5s;
    &:hover {
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }
    @media screen and (max-width: 348px) {
        @include imagen-prom-responsive (100%, 350px, 4%);
    }
    @media screen and (max-width: 480px) {
        @include imagen-prom-responsive (80%, 350px, 4%);

    }
    @media only screen and (min-width: 481px) and (max-width: 960px) {
        width: 80%;
    }

    @media only screen and (min-width: 961px) and (max-width: 1024px) {
        width: 90%;
    }

}
  
