@import "../base/variables";
@import "../base/mixins";

/* Products */
.contenedor {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 480px) {
        justify-content: space-around;
    }

}

.card {
    margin: 2%;
    &:hover {
        @include button-style (0.5s ease-in-out, transparent, 0 0 1em $main-color);
    }
    @media screen and (max-width: 480px) {
        width: 33%;
    }
}

.card-title {
    text-align: center;
}

.list-group-item, .card-title {
    color: white;
    font-size: larger;
    @media screen and (max-width: 480px) {
        font-size: 10px;
    }
    @media only screen and (min-width: 469px) and (max-width: 960px) {
        font-size: 15px;   
    }
}

