@import "../base/variables";

/* Section Venta */
.contenedor-venta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 10%;
    text-align: justify;
    border: $border-promociones;

        .venta-text {
            font-size: 20px;
            color: $main-color;
            @media screen and (max-width: 480px) {
                font-size: 15px;
            }
        }
        .imagen-venta {
            margin: 5%;
            display: flex;
            justify-content: center;
            img {
                width: 50%;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            
        }
}