%button {
    margin: 5% 1.5%;
    width: 180px;
    height: 60px;
    cursor: crosshair;
    background: transparent;
    border: 1px solid #a0dddb;
    outline: none;
    transition: 0.7s ease-in-out;
}
